USE [master]
GO
/****** Object:  Database [TestSYSACAD]    Script Date: 29/10/2023 22:37:14 ******/
CREATE DATABASE [TestSYSACAD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestSYSACAD', FILENAME = 'TestSYSACAD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestSYSACAD_log', FILENAME = 'TestSYSACAD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestSYSACAD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestSYSACAD]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 29/10/2023 22:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[correo] [varchar](70) NULL,
	[contrasenia] [varchar](255) NULL,
 CONSTRAINT [PK_Administrador] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AlumnosEnListaDeEspera]    Script Date: 29/10/2023 22:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlumnosEnListaDeEspera](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[legajoEstudiante] [varchar](50) NULL,
	[codigoCurso] [varchar](50) NULL,
	[fechaIngreso] [datetime] NULL,
 CONSTRAINT [PK_AlumnosEnListaDeEspera] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 29/10/2023 22:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[codigo] [varchar](10) NOT NULL,
	[nombre] [varchar](70) NULL,
 CONSTRAINT [PK_Carrera] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CodigoFamilia]    Script Date: 29/10/2023 22:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodigoFamilia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](70) NULL,
 CONSTRAINT [PK_CodigoFamilia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConceptoDePago]    Script Date: 29/10/2023 22:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConceptoDePago](
	[nombre] [varchar](255) NOT NULL,
	[montoInicial] [float] NULL,
 CONSTRAINT [PK_ConceptoDePago] PRIMARY KEY CLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConceptosDePagoDeEstudiante]    Script Date: 29/10/2023 22:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConceptosDePagoDeEstudiante](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[legajoEstudiante] [varchar](50) NULL,
	[conceptoNombre] [varchar](255) NULL,
	[montoPendiente] [float] NULL,
 CONSTRAINT [PK_ConceptosDePagoDeEstudiante] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Correlatividades]    Script Date: 29/10/2023 22:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Correlatividades](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idFamiliaCursoBase] [int] NULL,
	[codigoFamiliaCorrelatividad] [varchar](70) NULL,
 CONSTRAINT [PK_Correlatividades] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Curso]    Script Date: 29/10/2023 22:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curso](
	[codigo] [varchar](50) NOT NULL,
	[nombre] [varchar](255) NULL,
	[descripcion] [text] NULL,
	[cupoMaximo] [int] NULL,
	[cupoDisponible] [int] NULL,
	[turnoId] [int] NULL,
	[aula] [varchar](20) NULL,
	[diaId] [int] NULL,
	[carreraCodigo] [varchar](10) NULL,
	[creditosRequeridos] [int] NULL,
	[promedioRequerido] [float] NULL,
	[codigoFamiliaId] [int] NULL,
 CONSTRAINT [PK_Curso] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dia]    Script Date: 29/10/2023 22:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](15) NULL,
 CONSTRAINT [PK_Dia] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estudiante]    Script Date: 29/10/2023 22:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiante](
	[legajo] [varchar](50) NOT NULL,
	[nombre] [varchar](50) NULL,
	[direccion] [varchar](100) NULL,
	[numeroTelefono] [varchar](20) NULL,
	[correo] [varchar](70) NULL,
	[contrasenia] [varchar](255) NULL,
	[indentificadorUnico] [char](36) NULL,
	[debeCambiarContrasenia] [bit] NULL,
	[creditos] [int] NULL,
	[promedio] [float] NULL,
 CONSTRAINT [PK_Estudiante] PRIMARY KEY CLUSTERED 
(
	[legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EstudianteCurso]    Script Date: 29/10/2023 22:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstudianteCurso](
	[legajoEstudiante] [varchar](50) NULL,
	[codigoCurso] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroDePago]    Script Date: 29/10/2023 22:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroDePago](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[legajoEstudiante] [varchar](50) NULL,
	[conceptoNombre] [varchar](255) NULL,
	[ingreso] [float] NULL,
	[fechaPago] [nchar](10) NULL,
 CONSTRAINT [PK_RegistroDePago] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RegistroInscripcion]    Script Date: 29/10/2023 22:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RegistroInscripcion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[legajo] [varchar](50) NULL,
	[codigoCurso] [varchar](50) NULL,
	[fechaInscripcion] [datetime] NULL,
 CONSTRAINT [PK_RegistroInscripcion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turno]    Script Date: 29/10/2023 22:37:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turno](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NULL,
 CONSTRAINT [PK_Turno] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administrador] ON 

INSERT [dbo].[Administrador] ([id], [correo], [contrasenia]) VALUES (1, N'johntravolta@hotmail.com', N'666666')
SET IDENTITY_INSERT [dbo].[Administrador] OFF
GO
INSERT [dbo].[Carrera] ([codigo], [nombre]) VALUES (N'TUP', N'Tecnicatura Universitaria en Programacion')
INSERT [dbo].[Carrera] ([codigo], [nombre]) VALUES (N'TUSI', N'Tecnicatura Universitaria en Sistemas Informaticos')
GO
SET IDENTITY_INSERT [dbo].[CodigoFamilia] ON 

INSERT [dbo].[CodigoFamilia] ([id], [codigo]) VALUES (1, N'MATEMATICA')
INSERT [dbo].[CodigoFamilia] ([id], [codigo]) VALUES (2, N'SISTEMASDEPROCESAMIENTODEDATOS')
INSERT [dbo].[CodigoFamilia] ([id], [codigo]) VALUES (3, N'INGLES1')
SET IDENTITY_INSERT [dbo].[CodigoFamilia] OFF
GO
INSERT [dbo].[ConceptoDePago] ([nombre], [montoInicial]) VALUES (N'Bibliografia Primer Cuatrimestre', 50000)
INSERT [dbo].[ConceptoDePago] ([nombre], [montoInicial]) VALUES (N'Cargos Administrativos primer cuatrimestre', 50000)
INSERT [dbo].[ConceptoDePago] ([nombre], [montoInicial]) VALUES (N'Matricula de Ingreso', 200000)
GO
SET IDENTITY_INSERT [dbo].[ConceptosDePagoDeEstudiante] ON 

INSERT [dbo].[ConceptosDePagoDeEstudiante] ([id], [legajoEstudiante], [conceptoNombre], [montoPendiente]) VALUES (7, N'12543658', N'Matricula de Ingreso', 200000)
INSERT [dbo].[ConceptosDePagoDeEstudiante] ([id], [legajoEstudiante], [conceptoNombre], [montoPendiente]) VALUES (8, N'12543658', N'Matricula del Primer Cuatrimestre', 150000)
INSERT [dbo].[ConceptosDePagoDeEstudiante] ([id], [legajoEstudiante], [conceptoNombre], [montoPendiente]) VALUES (9, N'12543658', N'Cargos Administrativos primer cuatrimestre', 50000)
SET IDENTITY_INSERT [dbo].[ConceptosDePagoDeEstudiante] OFF
GO
SET IDENTITY_INSERT [dbo].[Correlatividades] ON 

INSERT [dbo].[Correlatividades] ([id], [idFamiliaCursoBase], [codigoFamiliaCorrelatividad]) VALUES (1, 6, N'MATEMATICA')
INSERT [dbo].[Correlatividades] ([id], [idFamiliaCursoBase], [codigoFamiliaCorrelatividad]) VALUES (2, 6, N'SISTEMASDEPROCESAMIENTODEDATOS')
INSERT [dbo].[Correlatividades] ([id], [idFamiliaCursoBase], [codigoFamiliaCorrelatividad]) VALUES (3, 6, N'INGLES1')
SET IDENTITY_INSERT [dbo].[Correlatividades] OFF
GO
INSERT [dbo].[Curso] ([codigo], [nombre], [descripcion], [cupoMaximo], [cupoDisponible], [turnoId], [aula], [diaId], [carreraCodigo], [creditosRequeridos], [promedioRequerido], [codigoFamiliaId]) VALUES (N'AySOM', N'Arquitectura y Sistemas Operativos Mañana', N'Curso de Arquitectura y Sistemas Operativos en turno Mañana', 105, 105, 1, N'101', 1, N'TUP', 150, 6.5, 6)
INSERT [dbo].[Curso] ([codigo], [nombre], [descripcion], [cupoMaximo], [cupoDisponible], [turnoId], [aula], [diaId], [carreraCodigo], [creditosRequeridos], [promedioRequerido], [codigoFamiliaId]) VALUES (N'AySON', N'Arquitectura y Sistemas Operativos Noche', N'Curso de Arquitectura y Sistemas Operativos en turno Noche', 105, 105, 3, N'333', 1, N'TUP', 150, 6.5, 6)
INSERT [dbo].[Curso] ([codigo], [nombre], [descripcion], [cupoMaximo], [cupoDisponible], [turnoId], [aula], [diaId], [carreraCodigo], [creditosRequeridos], [promedioRequerido], [codigoFamiliaId]) VALUES (N'AySOT', N'Arquitectura y Sistemas Operativos Tarde', N'Curso de Arquitectura y Sistemas Operativos en turno Tarde', 105, 105, 2, N'222', 1, N'TUP', 150, 6.5, 6)
GO
SET IDENTITY_INSERT [dbo].[Dia] ON 

INSERT [dbo].[Dia] ([id], [nombre]) VALUES (1, N'Lunes')
INSERT [dbo].[Dia] ([id], [nombre]) VALUES (2, N'Martes')
INSERT [dbo].[Dia] ([id], [nombre]) VALUES (3, N'Miercoles')
SET IDENTITY_INSERT [dbo].[Dia] OFF
GO
INSERT [dbo].[Estudiante] ([legajo], [nombre], [direccion], [numeroTelefono], [correo], [contrasenia], [indentificadorUnico], [debeCambiarContrasenia], [creditos], [promedio]) VALUES (N'12543658', N'Pepe Peposo', N'Av Santa Fe 1241', N'1132519841', N'aaaa@hotmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', N'00000000-0000-0000-0000-000000000000', 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Turno] ON 

INSERT [dbo].[Turno] ([id], [nombre]) VALUES (1, N'Mañana')
INSERT [dbo].[Turno] ([id], [nombre]) VALUES (2, N'Tarde')
INSERT [dbo].[Turno] ([id], [nombre]) VALUES (3, N'Noche')
SET IDENTITY_INSERT [dbo].[Turno] OFF
GO
ALTER TABLE [dbo].[AlumnosEnListaDeEspera]  WITH CHECK ADD  CONSTRAINT [FK_AlumnosEnListaDeEspera_Curso] FOREIGN KEY([codigoCurso])
REFERENCES [dbo].[Curso] ([codigo])
GO
ALTER TABLE [dbo].[AlumnosEnListaDeEspera] CHECK CONSTRAINT [FK_AlumnosEnListaDeEspera_Curso]
GO
ALTER TABLE [dbo].[ConceptosDePagoDeEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_ConceptosDePagoDeEstudiante_ConceptoDePago] FOREIGN KEY([conceptoNombre])
REFERENCES [dbo].[ConceptoDePago] ([nombre])
GO
ALTER TABLE [dbo].[ConceptosDePagoDeEstudiante] CHECK CONSTRAINT [FK_ConceptosDePagoDeEstudiante_ConceptoDePago]
GO
ALTER TABLE [dbo].[ConceptosDePagoDeEstudiante]  WITH CHECK ADD  CONSTRAINT [FK_ConceptosDePagoDeEstudiante_Estudiante] FOREIGN KEY([legajoEstudiante])
REFERENCES [dbo].[Estudiante] ([legajo])
GO
ALTER TABLE [dbo].[ConceptosDePagoDeEstudiante] CHECK CONSTRAINT [FK_ConceptosDePagoDeEstudiante_Estudiante]
GO
ALTER TABLE [dbo].[Correlatividades]  WITH CHECK ADD  CONSTRAINT [FK_Correlatividades_CodigoFamilia] FOREIGN KEY([idFamiliaCursoBase])
REFERENCES [dbo].[CodigoFamilia] ([id])
GO
ALTER TABLE [dbo].[Correlatividades] CHECK CONSTRAINT [FK_Correlatividades_CodigoFamilia]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Carrera] FOREIGN KEY([carreraCodigo])
REFERENCES [dbo].[Carrera] ([codigo])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Carrera]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_CodigoFamilia] FOREIGN KEY([codigoFamiliaId])
REFERENCES [dbo].[CodigoFamilia] ([id])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_CodigoFamilia]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Dia] FOREIGN KEY([diaId])
REFERENCES [dbo].[Dia] ([id])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Dia]
GO
ALTER TABLE [dbo].[Curso]  WITH CHECK ADD  CONSTRAINT [FK_Curso_Turno] FOREIGN KEY([turnoId])
REFERENCES [dbo].[Turno] ([id])
GO
ALTER TABLE [dbo].[Curso] CHECK CONSTRAINT [FK_Curso_Turno]
GO
ALTER TABLE [dbo].[EstudianteCurso]  WITH CHECK ADD  CONSTRAINT [FK_EstudianteCurso_Curso] FOREIGN KEY([codigoCurso])
REFERENCES [dbo].[Curso] ([codigo])
GO
ALTER TABLE [dbo].[EstudianteCurso] CHECK CONSTRAINT [FK_EstudianteCurso_Curso]
GO
ALTER TABLE [dbo].[EstudianteCurso]  WITH CHECK ADD  CONSTRAINT [FK_EstudianteCurso_Estudiante] FOREIGN KEY([legajoEstudiante])
REFERENCES [dbo].[Estudiante] ([legajo])
GO
ALTER TABLE [dbo].[EstudianteCurso] CHECK CONSTRAINT [FK_EstudianteCurso_Estudiante]
GO
ALTER TABLE [dbo].[RegistroDePago]  WITH CHECK ADD  CONSTRAINT [FK_RegistroDePago_ConceptoDePago] FOREIGN KEY([conceptoNombre])
REFERENCES [dbo].[ConceptoDePago] ([nombre])
GO
ALTER TABLE [dbo].[RegistroDePago] CHECK CONSTRAINT [FK_RegistroDePago_ConceptoDePago]
GO
ALTER TABLE [dbo].[RegistroDePago]  WITH CHECK ADD  CONSTRAINT [FK_RegistroDePago_Estudiante] FOREIGN KEY([legajoEstudiante])
REFERENCES [dbo].[Estudiante] ([legajo])
GO
ALTER TABLE [dbo].[RegistroDePago] CHECK CONSTRAINT [FK_RegistroDePago_Estudiante]
GO
ALTER TABLE [dbo].[RegistroInscripcion]  WITH CHECK ADD  CONSTRAINT [FK_RegistroInscripcion_Curso] FOREIGN KEY([codigoCurso])
REFERENCES [dbo].[Curso] ([codigo])
GO
ALTER TABLE [dbo].[RegistroInscripcion] CHECK CONSTRAINT [FK_RegistroInscripcion_Curso]
GO
ALTER TABLE [dbo].[RegistroInscripcion]  WITH CHECK ADD  CONSTRAINT [FK_RegistroInscripcion_Estudiante] FOREIGN KEY([legajo])
REFERENCES [dbo].[Estudiante] ([legajo])
GO
ALTER TABLE [dbo].[RegistroInscripcion] CHECK CONSTRAINT [FK_RegistroInscripcion_Estudiante]
GO
USE [master]
GO
